@import "./../../styles/variables";

.image {
	position: relative;
	//background-color: $secondary-bg-color;
	margin-bottom: 1.2rem;
	padding-bottom: 1.5rem;
	overflow: hidden;
	height: 30rem;
	&:hover {
		.ctaImg {
			display: flex;
		}
	}
}
.mainImg {
	width: 100%;
	height: 100%;
	transition: 0.3s;
	cursor: pointer;
	object-fit: cover;
	object-position: center;
	&:hover {
		transform: scale(1.03);
	}
}
.ctaImg {
	z-index: 99;
	position: absolute;
	bottom: 2rem;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 2.6rem;
	transition: 0.3s;
	display: none;
	background-color: #fff;
	padding: 0.7rem 1.3rem;
	width: min-content;
	border-radius: 4px;
	margin: 0 auto;

	svg {
		width: 2rem;
		height: 2rem;
		cursor: pointer;
		&:hover {
			path {
				fill: green;
			}
		}
	}
}
.title {
	margin-bottom: 0.6rem;
	cursor: pointer;
}
.price {
	font-size: 1.8rem;
	font-weight: 700;
	color: $accent-color;
}
