@use  "./../../../styles/variables" as var;

.formInput {
	display: flex;
	flex-direction: column;
	justify-content: start;
	label {
		width: max-content;
		position: relative;
		font-size: 1.5rem;
		margin-bottom: 1rem;
		color: var.$primary-font-color;
		@media (max-width: 630px) {
			margin-bottom: 0.7rem;
		}
	}
	label.required::after {
		content: "";
		position: absolute;
		top: 0;
		right: -11px;
		background: url("./../../../assets/images/required.svg") no-repeat;
		width: 0.8rem;
		height: 0.8rem;
	}

	input {
		height: 4rem;
		border: 1px solid #eaeaea;
		border-radius: 0.3rem;
		font-size: 1.4rem;
		padding: 0.95em;
		&::placeholder {
			color: #a5a5a5;
			@media (max-width: 630px) {
				font-size: 1.2rem;
			}
		}
		&:focus {
			border-color: var.$accent-color;
			outline: none;
		}
		@media (max-width: 630px) {
			height: 3.4rem;
		}
	}
	span {
		color: red;
		font-size: 12px;
		display: none;
		margin: 0.7rem 0.8rem;
	}
}
input:invalid[focused="true"] ~ span {
	display: block;
}
