@import "./../../styles/variables";

.menu {
	ul {
		display: flex;
		gap: 5rem;
	}
	li {
		position: relative;
		font-size: 1.6rem;
		line-height: calc(20 / 16);
		color: $primary-font-color;
		transition: 0.3s;
		&:hover {
			color: $accent-color;
		}
		&:before {
			position: absolute;
			content: "";
			top: 2.5rem;
			left: 0;
			right: 0;
			height: 2px;
			background-color: $accent-color;
			border-radius: 2px;
			transition: 0.3s;
			transform: scale(0);
		}
		&:hover::before {
			transform: scale(1);
		}
	}
}
a:global(.active) {
	color: $accent-color;
}
