@import "./../../styles/variables";

.wrapper {
	padding: 3rem 0 8.333% 0;
}
.shopWrapper {
	display: flex;
}

.mainBlock {
	width: 100%;
}
.searchParams{
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 2em;
	span{
		color: $accent-color;
	}
}
.storeItems {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25rem, 26rem));
	gap: 7rem 3.3rem;
	place-content: center;
	@media (max-width: 860px) {
	gap: 4.3rem 3.3rem;

	}

}
