@import "./../../styles/variables";

.titleContainer {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1rem;
	margin-bottom: 1.1rem;
	border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
	font-weight: 500;
	color: $primary-font-color;
}
.products {
	margin-bottom: 1.7rem;
}
.container{
	max-height: 30rem;
	overflow:auto;

}
