@import "./../../styles/variables";

.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 30rem;
	width: 100%;
}
.title {
	font-size: 1.3rem;
	color: $primary-font-color;
	margin-bottom: 1.2em;
}
.inputs {
	display: flex;
	flex-direction: column;
	gap: 1.7rem;
	margin-bottom: 2.7rem;
}
.orLoginWidth {
	position: relative;
	font-size: 1.3rem;
	color: $primary-font-color;
	margin: 3.54em 1em 2.2em;
	&::before,
	&::after {
		position: absolute;
		content: "";

		top: 50%;
		transform: translateY(-50%);
		width: 7.7em;
		background-color: $primary-font-color;
		height: 0.03rem;
	}
	&::after {
		right: 100%;
		margin-right: 1rem;
	}
	&::before {
		left: 100%;
		margin-left: 1rem;
	}
}
