.wrapper {
	padding: 3rem 0 8.333% 0;
}
.shopWrapper {
	display: flex;
}
.filterBlock {
	width: 26%;
	flex-shrink: 0;
	background-color: rgb(213, 239, 213);
	margin-right: 3.3rem;
	margin-top: 4.8rem;
}
.mainBlock {
	width: 100%;
}
.storeItems {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25rem, 26rem));
	gap: 7rem 3.3rem;
	place-content: center;
}
