@import "./../../styles/variables";

.ordersTitle {
	margin-bottom: 1.2em;
	font-size: 1.7rem;
	font-weight: 700;
	color: $primary-font-color;
}

.containerBottom{
	padding-left: 21%;
		@media (max-width: 960px){
			padding-left: 0;
		}
}
