@import "./../../styles/variables";
.wrapper{
	z-index: 99;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(229, 229, 229, 0.4);
}
.container{
	display: flex;
	flex-direction: column;
	max-width: 57.8rem;
	margin: 10rem auto;
	background-color: #fff;
	text-align: center;
}
.headerTop{
	background: rgba(70, 163, 88, 0.06);
	padding: 2.9rem 1rem 1.5rem ;
	img{
		margin-bottom: 1.6rem;
	}
	p{
		
	}
}
.orderDetails{
	margin: 1.8rem 4.2rem 2.1rem 4.2rem;
	border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}
.title{
	text-align: left;
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 0.7em;
	color: $primary-font-color;
}
.total {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	color: $primary-font-color;
	margin: 2rem 1.4rem 0 auto;
	max-width: 32rem;
	p {
		font-size: 1.6rem;
		margin-bottom: 1.8em;
	}
	span {
		font-size: 1.8rem;
		color: $accent-color;
	}
}
.info{
	padding: 0 4.8rem;
	font-size: 1.4rem;
	line-height: calc(22 / 14);
	margin-bottom: 3.3em;
}
.button{
	max-width: 16.2rem;
	align-self: center;
	margin-bottom: 4.8rem;
}
