@import "./../../styles/variables";

.cart {
	display: flex;
	gap: 7.2%;
	padding: 5rem 0 8rem 0;
	@media (max-width: 1130px) {
		gap: 3%;
	}
	@media (max-width: 860px) {
		flex-direction: column;
	}


}
.products {
	min-width: 65%;
	flex-shrink: 0;
	@media (max-width: 860px) {
		margin-bottom: 5%;
	}

}
.totals {
	width: 35%;
	color: $primary-font-color;
	h3 {
		font-weight: 700;
		color: $primary-font-color;
		font-size: 1.8rem;
	}
	@media (max-width: 860px) {
		width: 50%;
	}
	@media (max-width: 630px) {
		width: 60%;
	}
	@media (max-width: 550px) {
		width: 100%;
	}

}
.titleContainer {
	display: flex;
	align-items: center;
	min-height: 4rem;
	width: 100%;
	margin-bottom: 1.2rem;
	border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}
.title {
	font-weight: 500;
	color: $primary-font-color;
	font-size: 1.6rem;
}

.continue {
	display: block;
	font-size: 1.5rem;
	color: $accent-color;
	padding: 1em;
	text-align: center;
	transition: 0.3;
	&:hover {
		color: $secondary-font-color;
	}
}
