@import "./../../styles/variables";

.cart {
	display: flex;
	gap: 7.2%;
	padding: 5rem 0 8rem 0;
}
.products {
	min-width: 65%;
	flex-shrink: 0;
}
.titleContainer {
	display: flex;
	align-items: center;
	min-height: 4rem;
	width: 100%;
	margin-bottom: 1.2rem;
	border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}
.title {
	font-weight: 500;
	color: $primary-font-color;
	font-size: 1.6rem;
}
.totals {
	width: 35%;
}
.totals {
	color: $primary-font-color;
	h3 {
		font-weight: 700;
		color: $primary-font-color;
		font-size: 1.8rem;
	}
}
.totalsTitleContainer {
	display: flex;
	align-items: center;
	min-height: 4rem;
	width: 100%;
	margin-bottom: 1.2rem;
	border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}
.coupon {
	span {
		display: block;
		font-size: 1.4rem;
		margin-bottom: 0.57em;
	}
	margin-bottom: 3rem;
}
.subTotal {
	display: flex;
	justify-content: space-between;
	p {
		font-size: 1.5rem;
		margin-bottom: 1em;
	}
	span {
		font-size: 1.8rem;
		font-weight: 500;
	}
}
.discount {
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	margin-bottom: 1.4em;
}
.shipping {
	display: flex;
	justify-content: space-between;
	p {
		font-size: 1.5rem;
		margin-bottom: 1.6em;
	}
	span {
		font-size: 1.8rem;
		font-weight: 500;
	}
}
.total {
	display: flex;
	justify-content: space-between;
	font-weight: 700;

	p {
		font-size: 1.6rem;
		margin-bottom: 1.8em;
	}
	span {
		font-size: 1.8rem;
		color: $accent-color;
	}
}
.continue {
	display: block;
	font-size: 1.5rem;
	color: $accent-color;
	padding: 1em;
	text-align: center;
	transition: 0.3;
	&:hover {
		color: $secondary-font-color;
	}
}
