@import "./../../styles/variables";

.wrapper {
	width: 100%;
	cursor: pointer;
}

:global {
	.carousel-status {
		display: none;
	}
	.carousel .control-dots .dot {
		box-shadow: none;
		background-color: $accent-color;
		width: 8px;
		height: 8px;
	}
	.carousel.carousel-slider .control-arrow{
		display: none;
	}
}
