@import "./../../styles/variables";

.wrapper {
	justify-content: center;
	padding: 8% 10%;
	h1 {
		font-size: 3.6rem;
		font-weight: 700;
		text-align: center;
		margin-top: 1em;
		@media (max-width: 630px) {
			font-size: 3rem;
		}
		@media (max-width: 375px) {
			font-size: 2.4rem;
		}
	}
	a {
		display: block;
		text-align: center;
		font-weight: 600;
		position: relative;
		font-size: 1.6rem;
		line-height: calc(20 / 16);
		transition: 0.3s;
		&:hover {
			color: $accent-color;
		}
	}
}
.image {
	width: 20rem;
	overflow: hidden;
	margin: 0 auto;
	img {
		width: 100%;
	}
	@media (max-width: 630px) {
		width: 15rem;
	}
	@media (max-width: 375px) {
		width: 12rem;
	}
}
