@import "./../../styles/variables";

.listItem {
	display: flex;
	gap: 1rem;
	align-items: center;
	font-size: 1.5rem;
	padding: 0 2.4rem 1.9rem;
	cursor: pointer;
	img {
		width: 2rem;
		height: 2rem;
	}

}

.listItem.active {
	color: $accent-color;
}
