.wrapper {
	flex: 1;
}
.items {
	min-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 22rem));
	gap: 7rem 3.3rem;
	place-content: center;
	@media (max-width: 750px) {
		gap: 4rem 2.7rem;
	}
}
