@import "./../../styles/variables";

.nav {
	width: 30%;
	height: max-content;
	background-color: $secondary-bg-color;
	flex-shrink: 0;
	border-radius: 0.5rem;
	@media (max-width: 630px) {
		width: 16rem;
		z-index: 99;
		position: absolute;
		transition: 0.3s;
		transform: translateX(-160%);
		border: .5px solid $accent-color;
	}
}
.nav.active {
	@media (max-width: 630px) {
		transform: translateX(25%) translateY(10%);
	}
}
.burger_btn {
	display: none;
	@media (max-width: 630px) {
		display: block;
		min-width: 3rem;
		height: 3rem;
		background-color: transparent;
		cursor: pointer;
	}
}
.title {
	font-size: 1.8rem;
	font-weight: 700;
	color: $primary-font-color;
	padding: 1.5rem 2.4rem;
	span {
		color: $accent-color;
	}
}
.list {
	border-bottom: 0.3px solid $accent-color;
}
.logout {
	padding: 1.9rem 2.5rem;
}
