@import "./../../styles/variables";

.nav {
	width: 30%;
	height: max-content;
	background-color: $secondary-bg-color;
	flex-shrink: 0;
	border-radius: .5rem;
}
.title {
	font-size: 1.8rem;
	font-weight: 700;
	color: $primary-font-color;
	padding: 1.5rem 2.4rem;
	span {
		color: $accent-color;
	}
}
.list {
	border-bottom: 0.3px solid $accent-color;
}
.logout {
	padding: 1.9rem 2.5rem;
}
