@import "./../../../styles/variables";

.contacts {
	display: flex;
	align-items: center;
	background-color: rgba(70, 163, 88, 0.1);
	padding: 2.7rem 2.3rem;
	margin-bottom: 2rem;
	column-gap: 8%;
	font-size: 1.4rem;
	border-bottom: 1px solid $accent-color;
	border-top: 1px solid $accent-color;
}
.contactsItem {
	display: flex;
	align-items: center;
	max-width: 21rem;
	gap: 0.9rem;
}
