@import "./../../styles/variables";

.wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 7rem 0rem 3rem;
	@media (max-width: 860px) {
		padding: 0rem 3rem;
	}
	@media (max-width: 860px) {
		padding: 0rem .4rem;
	}
}

.filter {
	display: flex;
	gap: 1.4rem;
	@media (max-width: 860px) {
		gap: 0;
		z-index: 9;
		position: absolute;
		left: 1rem;
		top: 5rem;
		flex-direction: column;
		transition: 0.3s;
		transform: translateX(-130%);
		z-index: 4;
		border: 0.5px solid $accent-color;
		border-radius: 0.3rem;
		background-color: #fff;
		li {
			padding: 0.3em 0.6em;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				background-color: rgb(200, 237, 200);
			}
		}
		.active {
			background-color: rgb(200, 237, 200);
			color: $primary-font-color;
		}
	}
}
.filter.active {
	transform: translateX(0);
}
.category {
	position: relative;
	font-size: 1.6rem;
	color: $primary-font-color;
	line-height: calc(16 / 15);
	cursor: pointer;
	height: min-content;
	&:before {
		position: absolute;
		content: "";
		bottom: -0.7rem;
		left: 0;
		right: 0;
		height: 2px;
		background-color: $accent-color;
		border-radius: 2px;
		transition: 0.3s;
		transform: scale(0);
	}
	&:hover::before {
		transform: scale(1);
		@media (max-width: 860px) {
			transform: scale(0);
		}
	}
	&:hover {
		color: $accent-color;
	}
	&.active::before {
		position: absolute;
		content: "";
		bottom: -0.7rem;
		left: 0;
		right: 0;
		height: 2px;
		background-color: $accent-color;
		border-radius: 2px;
		transition: 0.3s;
		transform: scale(1);
		@media (max-width: 860px) {
			transform: scale(0);
		}
	}
	&.active {
		color: $accent-color;
		@media (max-width: 860px) {
			color: $primary-font-color;
		}
	}
}
.sortBlock {
	position: relative;
}
.sortPopup {
	z-index: 4;
	position: absolute;
	right: 0;
	top: -7rem;
	border: 0.5px solid $accent-color;
	border-radius: 0.3rem;
	li {
		padding: 0.3em 0.6em;
		cursor: pointer;
		transition: 0.3s;
		color: $primary-font-color;
		&:hover {
			background-color: rgb(200, 237, 200);
			color: $accent-color;
		}
	}
	.active {
		background-color: rgb(200, 237, 200);
		color: $primary-font-color;
	}
}
.sortTitle {
	color: $primary-font-color;
	label {
		cursor: pointer;
	}

	input {
		width: 8rem;
		outline: none;
		border: none;
		color: $accent-color;
		font-weight: 600;
		letter-spacing: 0.1em;
		padding-left: 0.5em;
		cursor: pointer;
	}
}
