.wrapper {
	padding: 3rem 0 8.333% 0;
}
.shopWrapper {
	display: flex;
}

.mainBlock {
	width: 100%;
	overflow: hidden;
}
.storeItems {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25rem, 26rem));
	gap: 7rem 3.3rem;
	place-content: center;
	@media (max-width: 860px) {
	gap: 4.3rem 3.3rem;

	}

}
